#logo{
    height: 50px;
    width: 50px;
   
}
.navbar{
    background-color:#f19066!important;
}
.nav-item {
    font-family:cursive;
    font-size: 20px;
}
.container{
    position: relative;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    bottom: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background:#FD7272;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBX{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);    
}
.container .card .imgBX img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -200px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.nd{
    text-align: center;
    font-family: 'Times New Roman';
    color: #111;
    text-shadow: 5px 5px 5px rgba(170, 13, 13, 0.349);
    font-size: 45px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #e66767;
}
.nc .ncc .nl h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}